@font-face {
  font-family: 'PTSans-Regular';
  src:  url('../fonts/PTSans-Regular.woff') format('woff'),
        url('../fonts/PTSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PlayfairDisplay-Regular';
  src:  url('../fonts/PlayfairDisplay-Regular.woff') format('woff'),
  url('../fonts/PlayfairDisplay-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PlayfairDisplay-Bold';
  src:  url('../fonts/PlayfairDisplay-Bold.woff') format('woff'),
  url('../fonts/PlayfairDisplay-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'PostNoBillsJaffna-Bold';
  src:  url('../fonts/PostNoBillsJaffna-Bold.woff') format('woff'),
  url('../fonts/PostNoBillsJaffna-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

