@font-face {
  font-family: 'PTSans', sans-serif;
  src:  url('../fonts/PTSans-Regular.woff2') format('woff2'),
        url('../fonts/PTSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PlayfairDisplay', sans-serif;
  src:  url('../fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
  url('../fonts/PlayfairDisplay-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PlayfairDisplay', sans-serif;
  src:  url('../fonts/PlayfairDisplay-Bold.woff2') format('woff2'),
  url('../fonts/PlayfairDisplay-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PostNoBillsJaffna', sans-serif;
  src:  url('../fonts/PostNoBillsJaffna-Bold.woff2') format('woff2'),
  url('../fonts/PostNoBillsJaffna-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

