*, *:before, *:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  box-sizing: border-box;
}

body {
  box-sizing: inherit;
  margin: 0;
  font-family: 'PTSans', sans-serif;
  font-weight: 400;
  background-color: $black;
  color: $white;
  font-size: 14px;
  line-height: 21px;
}

h1, h2,
h3, h4,
h5, h6 {
  margin: 0;
}

ul, li {
  list-style: none;
}

a {
  color: inherit;
  display: inline-block;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.btn-reset {
  cursor: pointer;
  padding: 0;
  border: none;
  background-color: transparent;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font-family: 'PlayfairDisplay', sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  text-transform: uppercase;
  padding-bottom: 40px;
  position: relative;
  margin-bottom: 40px;

  &:after {
    content: '';
    position: absolute;
    width: 120px;
    height: 1px;
    background: #FFFFFF;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}

.card {
  font-family: 'PlayfairDisplay', sans-serif;

  &__img {
    width: 260px;
    height: 325px;
    background: #191B1C;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
  }

  &__title {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 10px;
  }

  &__price {
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: #D0D0D0;
  }
}
