*, *:before, *:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  box-sizing: border-box;
}

body {
  box-sizing: inherit;
  margin: 0;
  font-family: 'PTSans', sans-serif;
  font-weight: 400;
  background-color: $black;
  color: $white;
  font-size: 14px;
  line-height: 21px;
}

h1, h2,
h3, h4,
h5, h6 {
  margin: 0;
}

ul, li {
  list-style: none;
}

a {
  color: inherit;
  display: inline-block;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.btn-reset {
  cursor: pointer;
  padding: 0;
  border: none;
  background-color: transparent;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font-family: 'PlayfairDisplay', sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  text-transform: uppercase;
  padding-bottom: 40px;
  position: relative;
  margin-bottom: 40px;

  &:after {
    content: '';
    position: absolute;
    width: 120px;
    height: 1px;
    background: #FFFFFF;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}

.card {
  font-family: 'PlayfairDisplay', sans-serif;
  width: 260px;

  &__img {
    width: 100%;
    min-height: 325px;
    background: #191B1C;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
  }

  &__title {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 10px;
  }

  &__price {
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: #D0D0D0;
  }
}

.mobile-menu {
  overflow-y: scroll;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: #000;
  z-index: 10;
  transform: translateY(-100%);
  transition: transform .3s;
  padding: 80px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &.active {
    transform: translateY(0);
  }

  &__link {
    display: block;
    width: 100%;
    padding: 30px 60px;
    font-size: 22px;
    text-transform: uppercase;
  }

  &__nav {
    margin-bottom: 30px;
  }

  &__buttons {
    margin-bottom: 30px;
  }

  &__button {
    width: 30px;
    height: 30px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__info-list {
    li {
      margin-bottom: 20px;
      color: $gray;
    }

    a {
      color: $white;
      position: relative;
      display: flex;
      align-items: center;

      svg {
        fill: $white;
        margin-right: 8px;
      }
    }
  }

  &__button:not(:last-child) {
    margin-right: 20px;
  }

  .close {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 15px;
    top: 15px;

    &:before,
    &:after {
      content: '';
      position: absolute;
      background-color: #fff;
      height: 2px;
      width: 100%;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }

  }
}

.lock {
  overflow: hidden;
}
