@media (max-height: 650px) {
  .mobile-menu__link {
    padding: 20px 60px;
  }
}

@media (max-width: 1919px) {
  .collection {
    flex-direction: column;
    align-items: center;

    &__info {
      max-width: 100%;
    }

    &__new {
      height: 738px;
      max-width: 1130px;
      width: 100%;
    }
  }

  .old {
    flex-direction: column;
    align-items: center;

    &__img {
      height: 600px;
      order: 1;
      max-width: 1130px;
      width: 100%;
      background-position: top center;
    }
  }

}

@media (max-width: 1140px) {
  .news__items .card {
      width: calc(100% / 12 * 4 - 46px);
  }

  .brands__items {
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .footer__top-inner {
    flex-wrap: wrap;
  }

  .footer__col {
    margin-bottom: 30px;
  }

  .footer__about {
    max-width: 100%;
  }
}

@media (max-width: 1000px) {
  .collection__new {
    height: 630px;
  }
}


@media (max-width: 960px) {
  .collection__items {
    flex-wrap: wrap;
    justify-content: space-around;

    .card {
      margin: 0 5px 20px;
    }
  }

  .old__title {
    padding-bottom: 28px;
    margin-bottom: 30px;
  }

  .old__desc {
    margin-bottom: 40px;
  }

  .old__link {
    font-size: 14px;
  }

  .collection__info {
    padding: 50px 0;
  }

  .old__content {
    padding: 50px 15px;
  }

  .brands {
    padding: 40px 0;

    &__title {
      margin-bottom: 10px;
      padding-bottom: 20px;
    }
  }

  .news {
    padding: 40px 0;

    &__title {
      margin-bottom: 40px;
      padding-bottom: 25px;
    }
  }
}

@media (max-width: 860px) {
  .news__items .card {
      width: calc(100% / 12 * 6 - 46px);
  }

  .collection__card {
    width: calc(100% - 50px);
  }
}


@media (max-width: 830px) {
  .collection__new {
    height: 500px;
  }

  .old__img {
    height: 500px;
  }

  .header__bottom-items {
    display: none;
  }

  .burger {
    display: block;
  }

  .collection__title {
    padding-bottom: 30px;
    margin-bottom: 40px;
  }
}

@media (max-width: 732px) {
  .footer__col {
    max-width: 100%;
  }
}

@media (max-width: 640px) {
  .header__top {
    display: none;
  }

  .hero__inner {
    min-height: calc(100vh - 80px);
  }

  .old__img {
    height: 400px;
  }
}

@media (max-width: 580px) {
  .news__items .card {
    width: calc(100% - 46px);
  }
}

@media (max-width: 500px) {
  .hero__rect {
    width: 300px;
    height: 300px;
    margin-bottom: 60px;

    &-title {
      font-size: 54px;
    }

    &-city {
      font-size: 19px;
    }
  }

  .collection__new {
    height: 430px;
    background-position: left;
  }

  .old__img {
    height: 300px;
  }

  .title {
    font-size: 26px;
  }

  .collection__new-info {
    bottom: 60px;
  }
}

@media (max-width: 400px) {
  .hero__rect {
    width: 260px;
    height: 250px;
    margin-bottom: 40px;

    &-title {
      font-size: 50px;
    }

    &-city {
      font-size: 17px;
    }
  }

  .collection__new-title {
    font-size: 24px;
  }

  .collection__new-title {
    padding-bottom: 15px;
    margin-bottom: 26px;
  }

  .footer__btn {
    padding: 10px 6px;
    font-size: 10px;
  }
}
