$black: #000;
$white: #fff;
$gray: #969696;
$light-gray: #D0D0D0;


%PTSans-400 {
  font-family: 'PTSans-Regular', sans-serif;
  font-weight: 400;
  font-style: normal;
}

%PD-400 {
  font-family: 'PlayfairDisplay-Regular', serif;
  font-weight: 400;
  font-style: normal;
}

%PD-700 {
  font-family: 'PlayfairDisplay-Bold', serif;
  font-weight: 700;
  font-style: normal;
}

%PNB-700 {
  font-family: 'PostNoBillsJaffna-Bold', sans-serif;
  font-weight: 700;
  font-style: normal;
}
