.header {

  // Header top
  &__top-inner {
    font-size: 12px;
    line-height: 16px;
    color: $gray;
    min-height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__top-inner__list {
    display: flex;
  }

  &__top-inner__item {
    padding-right: 14px;
    margin-right: 14px;
  }

  &__top-inner__item:not(:last-child) {
    border-right: 1px solid $gray;
  }

  &__top-inner__link {
    transition: color .3s;
  }

  &__top-inner__link.phone {
    display: flex;
    align-items: center;

    svg {
      margin-right: 15px;
      fill: $gray;
      transition: fill .3s;
    }
  }

  &__top-inner__link:hover {
    color: $white;

    svg {
      fill: $white;
    }
  }

  &__top-auth {
    display: flex;
    align-items: center;
    transition: color .3s;

    svg {
      margin-right: 10px;
      fill: $gray;
      transition: fill .3s;
    }
  }

  &__top-auth:hover {
    color: $white;

    svg {
      fill: $white;
    }
  }

  // header bottom

  &__bottom {
    background-color: #0F0F0F;
  }

  &__bottom-inner {
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    transition: opacity .3s;

    &:hover {
      opacity: .7;
    }
  }

  &__menu {
    min-height: 100%;
  }

  &__bottom-items {
    display: flex;
    align-items: center;
  }

  &__menu-list {
    display: flex;
    height: 100%;
    margin-right: 42px;
  }

  &__menu-link {
    min-height: 80px;
    display: flex;
    align-items: center;
    padding: 0 23px;
    text-transform: uppercase;
    transition: background-color .3s;

    &.active {
      background-color: #1F1F1F;
    }

    &:hover {
      background-color: #1F1F1F;
    }
  }

  &__bottom-button {
    transition: opacity .3s;
  }

  &__bottom-button:hover {
    opacity: .7;
  }

  &__bottom-button:not(:last-child) {
    margin-right: 40px;
  }


}

.burger {
  width: 55px;
  height: 33px;
  position: relative;
  display: none;

  &:before,
  &:after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    background-color: #fff;
    height: 2px;
  }

  &:before {
    top: 0;
  }

  &:after {
    bottom: 0;
  }

  span {
    position: absolute;
    display: block;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    width: 100%;
    height: 2px;
  }
}
