.news {
  padding: 120px 0 110px;

  &__title {
    margin-bottom: 80px;
  }

  &__items {
    //display: flex;
    //flex-wrap: wrap;
    //justify-content: space-between;
    display: grid;
    //grid-template-columns: repeat(4, 1fr);
    //justify-content: space-between;
    grid-gap: 40px 23px;
    grid-template-columns: repeat(4, minmax(260px, 1fr));
  }

  &__card {
    //margin-bottom: 40px;
  }
}
