.news {
  padding: 120px 0 110px;

  &__title {
    margin-bottom: 80px;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    margin: -20px -23px;
  }

  .card {
    margin: 20px 23px;
    width: calc(100% / 12 * 3 - 46px);
  }
}
